@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

/*-- jumbotron --*/
.jumbotron {
  background: url("../images/jumbo.jpg");
  padding-top: 0;
  height: 100vh;
  color: #fff;
}

.jumbotron h1 {
  font-size: 54px;
  font-weight: 700;
  padding: 10vh 150px 20px 150px;
}

.jumbotron p {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.logo {
  margin-top: 25vh;
}

.scroll {
  text-align: center;
  padding-top: 150px;
}

.about-us .box, .services .box, .activities .box, .contact .box {
  position: relative;
}

.about-us .box h1, .services .box h1, .activities .box h1, .contact .box h1 {
  display: flex;
  flex: 1;
  width: 100%;
  margin: 0;
  line-height: 0.05em;
  font-weight: 700;
}

.about-us .box .heading:before, .about-us .box .heading:after, .services .box .heading:before, .services .box .heading:after, .activities .box .heading:before, .activities .box .heading:after, .contact .box .heading:before, .contact .box .heading:after {
  content: '';
  flex-grow: 1;
  margin: 0;
}

.about-us .box span, .services .box span, .activities .box span, .contact .box span {
  padding: 0 50px;
}

.about-us .box p, .services .box p, .activities .box p, .contact .box p {
  font-weight: 300;
}

.about-us .box .box-text, .services .box .box-text, .activities .box .box-text, .contact .box .box-text {
  text-align: center;
  line-height: 2em;
}

/*-- about-us --*/
.about-us, .activities, .contact {
  margin: 100px auto;
  height: auto;
}

.about-us .box {
  border: 2px solid black;
  border-top: none;
  height: 350px;
  margin: 0 auto;
}

.about-us .box h1 {
  font-size: 34px;
}

.about-us .box .heading:before, .about-us .box .heading:after {
  background: linear-gradient(to right, black, black);
}

.about-us .box .box-text {
  padding: 80px 110px;
}

/*-- services --*/
.services {
  background: url("../images/services.jpg");
  background-size: cover;
  height: 400px;
  margin: 70px auto;
}

.services .box {
  border: 2px solid white;
  border-top: none;
  height: 250px;
  margin: 75px auto;
}

.services .box h1 {
  color: #fff;
  font-size: 34px;
}

.services .box .heading:before, .services .box .heading:after {
  background: linear-gradient(to right, white, white);
}

.services .box p {
  padding-top: 20px;
}

.services .box .box-text {
  position: absolute;
  padding: 40px 110px;
  color: #fff;
}

/*-- activities --*/
.activities .box {
  border: 2px solid black;
  border-top: none;
  height: 1000px;
  margin: 0 auto;
}

.activities .box h1 {
  font-size: 34px;
}

.activities .box .heading:before, .activities .box .heading:after {
  background: linear-gradient(to right, black, black);
}

.activities .box p {
  font-size: 14px;
}

.activities .box span {
  padding: 0 70px;
}

.activities .box .box-text {
  height: 300px;
  padding: 80px 110px;
  line-height: 1.6em;
}

.activities .box .box-text figcaption {
  font-size: 20px;
  font-weight: 700;
  padding: 15px 0;
}

/*-- gallery --*/
.gallery {
  height: 500px;
}

.gallery [class*="col"] {
  height: 250px;
  padding: 10px 0;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: ease-in-out .3s;
}

.gallery .paddings {
  padding: 10px 20px;
}

.gallery .carousel-caption {
  left: 10%;
  right: auto;
  bottom: -10px;
}

.gallery .carousel-caption h3 {
  font-size: 34px;
  font-weight: 700;
}

/*-- contact --*/
.contact .box {
  border: 2px solid black;
  border-top: none;
  height: 300px;
  margin: 0 auto;
}

.contact .box h1 {
  font-size: 30px;
}

.contact .box .heading:before, .contact .box .heading:after {
  background: linear-gradient(to right, black, black);
}

.contact .box .box-text {
  position: absolute;
  padding: 80px 110px 20px 110px;
}

.contact .box .contact-btn {
  text-align: center;
  margin-top: 180px;
}

.contact .box .contact-btn button {
  background-color: #3c3c3c;
  width: 350px;
  font-size: 16px;
  height: 60px;
  color: #fff;
}

.contact .box .contact-btn button:hover {
  background-color: #3c4438;
}

.contact .box .contact-btn button:active, .contact .box .contact-btn button:visited {
  background-color: #fff;
  color: #3c3c3c;
}

footer {
  height: 100px;
}

footer img {
  padding: 0 30px;
}

@media (max-width: 991px) {
  .container {
    width: 100%;
  }
  .jumbotron, .services {
    background-position: center;
  }
  .jumbotron h1 {
    font-size: 34px;
    font-weight: 700;
    padding: 10vh 20vw 20px 20vw;
    text-align: center;
  }
  .jumbotron p {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 10vw;
  }
  .jumbotron .scroll {
    display: none;
  }
  .about-us .box h1, .services .box h1, .activities .box h1, .contact .box h1 {
    font-size: 28px;
  }
  .about-us .box p, .services .box p, .activities .box p, .contact .box p {
    font-weight: 300;
  }
  .about-us .box span, .services .box span, .activities .box span, .contact .box span {
    padding: 0 40px;
  }
  .about-us .box .box-text, .services .box .box-text, .activities .box .box-text, .contact .box .box-text {
    padding: 10%;
    line-height: 1.4em;
  }
  .gallery {
    height: 1500px;
  }
  .gallery [class*="col"], .gallery .paddings {
    padding: 0;
  }
  .gallery img:hover {
    transform: scale(1);
  }
  .contact .box .contact-btn button {
    width: 200px;
    font-size: 14px;
    height: 50px;
  }
}

/*# sourceMappingURL=style.css.map */