@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

/*-- jumbotron --*/
.jumbotron {
  background: url("../images/jumbo.jpg");
  padding-top: 0;
  height: 100vh;
  color: #fff;
}

.jumbotron h1 {
  font-size: 54px;
  font-weight: 700;
  padding: 10vh 150px 20px 150px;
}

.jumbotron p {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.logo {
  margin-top: 25vh;
}

.scroll {
  text-align: center;
  padding-top: 150px;
}

/*-- about-us --*/
.about-us, .activities, .contact {
  margin: 100px auto;
  height: auto;
}

.about-us .box {
  border: 2px solid black;
  border-top: none;
  position: relative;
  height: 350px;
  margin: 0 auto;
}

.about-us .box h1 {
  display: flex;
  flex: 1;
  width: 100%;
  margin: 0;
  line-height: 0.05em;
  font-size: 34px;
  font-weight: 700;
}

.about-us .box p {
  font-weight: 300;
}

.about-us .box .heading:before, .about-us .box .heading:after {
  content: '';
  flex-grow: 1;
  margin: 0;
  background: linear-gradient(to right, black, black);
}

.about-us .box span {
  padding: 0 50px;
}

.about-us .box .box-text {
  position: absolute;
  padding: 80px 110px;
  text-align: center;
  line-height: 2em;
}

/*-- services --*/
.services {
  background: url("../images/services.jpg");
  background-size: cover;
  height: 400px;
  margin: 70px auto;
}

.services .box {
  border: 2px solid white;
  border-top: none;
  position: relative;
  height: 250px;
  margin: 75px auto;
}

.services .box h1 {
  display: flex;
  flex: 1;
  width: 100%;
  margin: 0;
  line-height: 0.05em;
  color: #fff;
  font-size: 34px;
  font-weight: 700;
}

.services .box p {
  padding-top: 20px;
  font-weight: 300;
}

.services .box .heading:before, .services .box .heading:after {
  content: '';
  flex-grow: 1;
  margin: 0;
  background: linear-gradient(to right, white, white);
}

.services .box span {
  padding: 0 50px;
}

.services .box .box-text {
  position: absolute;
  padding: 40px 110px;
  text-align: center;
  line-height: 2em;
  color: #fff;
}

/*-- activities --*/
.activities .box {
  border: 2px solid black;
  border-top: none;
  position: relative;
  height: 1000px;
  margin: 0 auto;
}

.activities .box h1 {
  display: flex;
  flex: 1;
  width: 100%;
  margin: 0;
  line-height: 0.05em;
  font-size: 34px;
  font-weight: 700;
}

.activities .box .heading:before, .activities .box .heading:after {
  content: '';
  flex-grow: 1;
  margin: 0;
  background: linear-gradient(to right, black, black);
}

.activities .box span {
  padding: 0 50px;
}

.activities .box .box-text {
  height: 300px;
  padding: 80px 110px;
  text-align: center;
  line-height: 1.6em;
}

.activities .box .box-text figcaption {
  font-size: 20px;
  font-weight: 700;
  padding: 15px 0;
}

.activities .box .box-text p {
  font-weight: 300;
  font-size: 14px;
}

/*-- gallery --*/
.gallery {
  height: 500px;
}

.gallery [class*="col"] {
  height: 250px;
  padding: 10px 0;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: ease-in-out .3s;
}

.gallery .paddings {
  padding: 10px 20px;
}

.carousel-caption {
  left: 10%;
  right: auto;
  bottom: -10px;
}

.carousel-caption h3 {
  font-size: 34px;
  font-weight: 700;
}

/*-- contact --*/
.contact .box {
  border: 2px solid black;
  border-top: none;
  position: relative;
  height: 300px;
  margin: 0 auto;
}

.contact .box h1 {
  display: flex;
  flex: 1;
  width: 100%;
  margin: 0;
  line-height: 0.05em;
  font-size: 30px;
  font-weight: 700;
}

.contact .box p {
  font-weight: 300;
}

.contact .box .heading:before, .contact .box .heading:after {
  content: '';
  flex-grow: 1;
  margin: 0;
  background: linear-gradient(to right, black, black);
}

.contact .box span {
  padding: 0 50px;
}

.contact .box .box-text {
  position: absolute;
  padding: 80px 110px;
  text-align: center;
  line-height: 2em;
}

.contact-btn {
  text-align: center;
  margin-top: 180px;
}

.contact-btn .btn-primary {
  background-color: #3c3c3c;
  width: 350px;
  font-size: 16px;
  height: 60px;
}

.contact-btn .btn-primary:hover {
  background-color: #3c4438;
}

.contact-btn .btn-primary:active, .contact-btn .btn-primary:visited {
  background-color: #fff;
  color: #3c3c3c;
}

footer {
  height: 100px;
}

footer img {
  padding: 0 30px;
}

/*# sourceMappingURL=style.css.map */